/* variables */
:root {
  --blue-color: #43abf0;
  --blue-color2: #3e9cdc;
  --white-color: #fff;
  --black-color: #000;
  --black-color2: #10101de5;
  --black-color3: #272733e5;
  --grey-color: #bbbbbb;
  --grey-color2: #6f6d7b;
  --grey-color3: #3d4050d9;
  --dark-grey-color: #c3c3c3;
  --dark-green-color: #286690;

  --mobile-width: 320px;
  --desktop-width: 1251px;
}

/* fonts */
@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato-Regular.woff) format('woff'),
    url(./fonts/Lato-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato-Bold.woff) format('woff'),
    url(./fonts/Lato-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* reboot */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: var(--black-color);

  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--white-color);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

select {
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

/* container */
.container {
  max-width: var(--desktop-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1171px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
}

/* Header */

.header {
  background-color: var(--black-color2);
  padding: 33px 0 31px 0;
  position: fixed;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
  justify-content: space-between;
}

@media (max-width: 1171px) {
  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__wrapper img {
    width: 150px;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1171px) {
  .header__list {
    column-gap: 10px;
  }
}

.header__item a {
  transition-property: opacity;
  transition-duration: 0.6s;
}

.header__item a:hover,
.header__item a:focus {
  opacity: 0.8;
}

.header__item a {
  font-size: 13px;
  line-height: 15px;
  color: var(--white-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 1171px) {
  .header__item a {
    font-size: 12px;
    line-height: 12px;
  }
}

.header__item.active a {
  color: var(--blue-color);
}

/* main */

/* intro */

.intro {
  min-height: 850px;
  padding-top: 201px;
  padding-bottom: 50px;
  background-image: url(./img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.intro__about {
  margin-bottom: 80px;
}

.intro__about h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1171px) {
  .intro__about h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

.intro__about span {
  color: var(--blue-color);
}

.intro__text {
  margin-bottom: 80px;
}

.intro__text h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
}

.intro__text p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
}

/* buttons */

.intro__buttons {
  display: flex;
  column-gap: 30px;
}

.intro__buttons button {
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
  /* border: none; */
  background-color: var(--white-color);
  width: 183px;
  height: 43px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 4px;
  color: var(--black-color2);
  border: 1px solid var(--grey-color2);
  transition-property: color background;
  transition-duration: 0.6s;
}

.intro__buttons button:hover,
.intro__buttons button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  border-color: var(--white-color);
}

/* Form */

.form {
  padding-top: 120px;
  min-height: 920px;
  background-image: url('./img/form-bg.jpg');
}

.form__info h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.form__info span {
  color: var(--blue-color);
}

.form__info p {
  margin: 0;
  margin-bottom: 80px;
  color: var(--grey-color);
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.form__info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

@media (max-width: 1171px) {
  .form__info-list {
    flex-direction: column;
    row-gap: 20px;
  }
}

.form__info-list li {
  display: flex;
  max-width: 209px;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  column-gap: 30px;
}

.form__info-list li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--blue-color2);
}

.form__info-list li p {
  margin-bottom: 0;
}

/* custom-select */

.select {
  position: relative;
  width: 100%;
  z-index: 2;
}

.select img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 5%;
}

.select.open img {
  transform: rotate(180deg);
}

.form__info-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1171px) {
  .form__info-user {
    flex-direction: column;
    row-gap: 30px;
  }
}

.form__info-user input {
  height: 48px;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 21px;
}

.form__info-user input::placeholder {
  color: var(--black-color3);
}

.form__info-user-button {
  width: 100%;
  cursor: pointer;
  background-color: var(--white-color);
  border: none;
  height: 48px;
  padding: 10px 35px 10px 10px;
  color: var(--black-color3);
  text-align: start;
  font-size: 18px;
  line-height: 21px;
  border-radius: 3px;
}

.form form button[type='submit'] {
  display: block;
  background-color: var(--blue-color2);
  border: none;
  width: 370px;
  height: 48px;
  font-size: 18px;
  line-height: 15px;
  font-weight: 600;
  color: var(--white-color);
  margin: 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.6s;
  border-radius: 3px;
}

.form form button[type='submit']:hover,
.form form button[type='submit']:focus {
  opacity: 0.7;
}

.select__list {
  position: absolute;
  width: 100%;
  max-height: 220px;
  overflow: auto;
  left: 0;
  top: 48px;
  padding: 10px;
  margin: 0;
  list-style: none;
  background-color: var(--black-color3);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 0.6s;
}

.select__list.open {
  opacity: 1;
  visibility: visible;
}

.select__list-item button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--white-color);
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  width: 100%;
  text-align: start;
  transition-property: color;
  transition-duration: 0.6s;
}

.select__list-item button:hover,
.select__list-item button:focus {
  color: var(--blue-color);
}

.select__list::-webkit-scrollbar {
  width: 7px; /* ширина всей полосы прокрутки */
}

.select__list::-webkit-scrollbar-track {
  background: var(--grey-color3);
}

.select__list::-webkit-scrollbar-thumb {
  background-color: var(--blue-color2);
  border-radius: 20px; /* округлось бегунка */
}

/* slider */

.form__filter-user {
  display: flex;
  justify-content: space-between;
  column-gap: 27px;
  margin-bottom: 40px;
}

@media (max-width: 1171px) {
  .form__filter-user {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

.form__filter-user-slide {
  width: 100%;
  max-width: 770px;
}

.form__filter-user-slide label {
  font-size: 18px;
  color: var(--white-color);
  line-height: 26px;
}

.form__filter-user-slide input[type='text'] {
  width: 40px;
  outline: none;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 26px;
  text-align: end;
}

.form__filter-user-slider input[type='range'] {
  border-radius: 5px;
  border: 2px solid var(--white-color);
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  outline-offset: 6px;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.form__filter-user-slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: #42a9ed; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  opacity: 1;
  border: 3px solid var(--dark-green-color);
  -webkit-transition: 0.6s; /* 0.2 seconds transition on hover */
  transition: border 0.6s;
}

.form__filter-user-slider input[type='range']::-webkit-slider-thumb:hover,
.form__filter-user-slider input[type='range']::-webkit-slider-thumb:focus {
  border-color: var(--blue-color);
}

/* file */

.form__filter-user-file {
  width: 370px;
  position: relative;
}

.form__filter-user-file input[type='file'] {
  display: none;
}

.form__filter-user-file label {
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: var(--black-color3);
  text-transform: uppercase;
  background-color: var(--white-color);
  border-radius: 3px;
}

.form__filter-user-file label img {
  order: -1;
}
