/* reboot */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: var(--black-color);

  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: var(--white-color);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

select {
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

/* variables */
:root {
  --blue-color: #43abf0;
  --white-color: #fff;
  --black-color: #000;
  --black-color2: #10101de5;
  --grey-color: #bbbbbb;
  --grey-color2: #6f6d7b;
  --dark-grey-color: #c3c3c3;

  --mobile-width: 320px;
  --desktop-width: 1171px;
}

/* fonts */
@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato-Regular.woff) format('woff'),
    url(./fonts/Lato-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato-Bold.woff) format('woff'),
    url(./fonts/Lato-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* container */
.container {
  max-width: var(--desktop-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1171px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
}

/* Header */

.header {
  background-color: var(--black-color2);
  padding: 33px 0 31px 0;
  position: fixed;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
  justify-content: space-between;
}

@media (max-width: 1019px) {
  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__wrapper img {
    width: 150px;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 1019px) {
  .header__list {
    column-gap: 10px;
  }
}

.header__item a {
  transition-property: opacity;
  transition-duration: 0.6s;
}

.header__item a:hover,
.header__item a:focus {
  opacity: 0.8;
}

.header__item a {
  font-size: 13px;
  line-height: 15px;
  color: var(--white-color);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 1019px) {
  .header__item a {
    font-size: 12px;
    line-height: 12px;
  }
}

.header__item.active a {
  color: var(--blue-color);
}

/* main */

/* intro */

.intro {
  min-height: 850px;
  padding-top: 201px;
  padding-bottom: 50px;
  background-image: url(./img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.intro__about {
  margin-bottom: 80px;
}

.intro__about h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 1019px) {
  .intro__about h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

.intro__about span {
  color: var(--blue-color);
}

.intro__text {
  margin-bottom: 80px;
}

.intro__text h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
}

.intro__text p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
}

/* buttons */

.intro__buttons {
  display: flex;
  column-gap: 30px;
}

.intro__buttons button {
  padding: 10px 10px;
  text-transform: uppercase;
  cursor: pointer;
  /* border: none; */
  background-color: var(--white-color);
  width: 183px;
  height: 43px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 4px;
  color: var(--black-color2);
  border: 1px solid var(--grey-color2);
  transition-property: color background;
  transition-duration: 0.6s;
}

.intro__buttons button:hover,
.intro__buttons button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  border-color: var(--white-color);
}
